@import '../../sass/index';

.register {
  height: calc(100vh - #{$headerHeight});
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba($dark, 0.3), rgba($light, 0.5)), url('https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1131051440?k=20&m=1131051440&s=170667a&w=0&h=Dw1FkoKPU5ym1TPMQPWlgSkz67SslHnkELR4VwYIguA=');
    background-size: cover;
  &__title {
    margin-bottom: $spacing-md;
    color: $light;
    padding: 0;
    line-height: $spacing-lg;
    font-size: $font-lg;
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & input {
      border: none;
      color: $light;
      background-color: $dark;
      margin-bottom: $spacing-sm;
      padding: $spacing-sm;
      border-radius: $btnRadius;
      &:focus {
        outline: none;
      }
    }
    &__register {
      border: none;
      border-radius: $pillRadius;
      margin: $spacing-sm 0;
      padding: $spacing-sm $spacing-md;
      font-size: $font-sm;
      background-color: $secondary;
      border: 1px solid transparent;
      &:hover {
        background-color: $primary;
        color: $light;
        border: 1px solid $secondary;
        cursor: pointer;
      }
    }
    &__login {
      border: none;
      border-radius: $pillRadius;
      padding: $spacing-sm $spacing-md;
      font-size: $font-xs;
      border: 1px solid transparent;
      background-color: $secondary;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: $dark;
        color: $light;
        border: 1px solid $secondary;
        cursor: pointer;
      }
    }
  }
}