@import '../../sass/index';

.settings {
  display: flex;
  &__wrapper {
    flex: 9;
    padding: $spacing-md;
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__update {
        font-size: $font-lg;
        color: $dkbg;
        margin-bottom: $spacing-sm;
      }
      &__delete {
        font-size: $font-sm;
        color: $primary;
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      &__ppic {
        display: flex;
        align-items: center;
        margin: $spacing-md 0;
        & img {
          width: 70px;
          height: 70px;
          border-radius: $circleRadius;
        }
        &__icon {
          width: $font-xl;
          height: $font-xl;
          border-radius: $circleRadius;
          background-color: $secondary;
          margin-left: $spacing-md;
          &:hover{
            cursor: pointer;
            color: $primary;
          }  
        }
      }
      & label {
        font-size: $font-xs;
        margin-bottom: $spacing-sm;
      }
      & input {
        font-size: $font-xs;
        margin-bottom: $spacing-sm;
        border: none;
        border-bottom: 1px solid $dkbg;
      }
      &__submit {
        border: none;
        background-color: $dkbg;
        align-self: center;
        padding: $spacing-sm $spacing-lg;
        border-radius: $pillRadius;
        &:hover {
          color: $light;
          background-color: $primary;
        }
      }
    }
  }
}
