@import '../../sass/index';

.post {
  width: 100%;
  min-width: 375px;
  max-width: 750px;
  margin: 0;
  padding: 0 $spacing-md;
  margin-bottom: $spacing-lg;
  background: linear-gradient(rgb($light, 0), rgb($primary, 0.1));
  &__img {
    width: 100%;
    object-fit: cover;
    height: 500px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    &__tags {
      margin: $spacing-md 0;
      &__tag {
        font-style: italic;
        margin-right: $spacing-sm;
        padding: $spacing-xs $spacing-sm;
        border: 1px solid rgb($dark, 0.1);
        letter-spacing: $spacing-xxs;
      }
    }
    &__title {
      margin-bottom: $spacing-sm;
      font-size: $font-lg;
      font-weight: 700;
      text-decoration: none;
      color: $dark;
    }
    &__date {
      font-size: $font-xs;
    }
    &__description {
      font-size: $font-sm;
      overflow: hidden;
      /* sets up ellipsis on blog post overflow */
      text-overflow: ellipsis;
      display: -webkit-box;
      /* number of lines shown */
      -webkit-line-clamp: 3;
      /* orients overflow direction */
      -webkit-box-orient: vertical;
    }
  }
}