@import '../../sass/index';

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: $footerHeight;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-image: url('../../assests/nelson_painting.jpeg');
  background-size: cover;
  &__random1 {
      &__icon {
      margin: 0 $spacing-xs;
      font-size: $font-xxx;
      color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
  &__random2 {
      &__icon {
      margin: 0 $spacing-xs;
      font-size: $font-xxx;
      color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
  &__random3 {
      &__icon {
      margin: 0 $spacing-xs;
      font-size: $font-xxx;
      color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
  &__random4 {
      &__icon {
      margin: 0 $spacing-xs;
      font-size: $font-xxx;
      color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
  &__random5 {
      &__icon {
      margin: 0 $spacing-xs;
      font-size: $font-xxx;
      color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
  &__random6 {
      &__icon {
      margin: 0 $spacing-xs;
      font-size: $font-xxx;
      color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__links{
      // padding-top: $spacing-xs;
      &__icon {
        margin: 0 $spacing-xs;
        font-size: $font-xxx;
        color: transparent;
        &:hover {
          cursor: pointer;
          color: $primary;
        }
      }
    }
    &__howey {
      font-size: $font-xs;
      color: $light;
    }
  }
}