@import '../../sass/index';

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: $footerHeight;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-image: url('../../assests/nelson_painting.jpeg');
  background-size: cover;
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__links{
      display: flex;
      align-items: center;
      flex-direction: column;
      &__tagline {
        font-size: $font-xl;
        color: rgb($dark, 0.8);
      }
      &__icon {
        margin-bottom: $spacing-xxl;
        font-size: $font-xxx;
        color: transparent;
        transition: 1.3s;
        &:hover {
          cursor: pointer;
          color: rgb($primary, 0.5);
        }
      }
    }
    &__howey {
      font-size: $font-md;
      color: rgb($light, 0.7);
    }
  }
}