@import '../../sass/index';

.sidebar {
  flex: 3;
  margin: $spacing-lg;
  padding: 0 $spacing-md;
  padding-bottom: $footerHeight;
  background: linear-gradient(rgb($primary, 0.3), rgb($light, 0));
  color: $dark;
  display: flex;
  flex-direction: column;
  &__items {
    &__projects {
      list-style: none;
      &__item {
        margin-bottom: $spacing-lg;
        display: flex;
        align-items: center;
        font-size: $font-md;
        &:hover {
          color: $primary;
          cursor: pointer;
        }
        &__icon {
          margin-right: $spacing-sm;
          cursor: pointer;
          font-size: $font-xl;
        }
      }
    }
    display: flex;
    flex-direction: column;
    &__title {
      font-family: $RobotoMono;
      font-weight: 700;
      text-transform: uppercase;
      padding: $spacing-sm;
      margin: $spacing-md 0;
      font-size: $font-lg;
      border-bottom: 1px solid rgb($dark, 0.6);
      border-top: 1px solid rgb($dark, 0.6);
      text-align: center;
    }
    &__img {
      width: 50vh;
      padding: 0;
    }
    &__text {
      padding: 0 $spacing-md;
      font-size: $font-md;
      color: rgb($dark, 0.9);
      line-height: $spacing-lg;
    }
    &__list {
      list-style: none;
      margin: 0;
      font-family: $RobotoMono;
      &__item {
        font-size: $font-lg;
        color: $dark;
        display: inline-block;
        width: 50%;
        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
    &__icons {
      font-size: $font-xl;
      text-align: center;
      margin-top: $spacing-md;
      &__item {
        margin: 0 $font-sm;
        cursor: pointer;
      }
    }
  }
}