@import '../../sass/index';

.blogpost {
  flex: 9;
  display: flex;
  flex-direction: column;
  &__wrapper {
    margin-top: $spacing-lg;
    margin-left: $spacing-lg;
    padding: $spacing-md $spacing-lg;
    background: linear-gradient(rgb($primary, 0.3), rgb($secondary, 0.1));
    &__img {
      width: 100%;
      margin-top: $spacing-md;
      border-radius: $btnRadius;
      height: 300px;
      object-fit: cover;
    }
    &__container {
      display: flex;
      flex-direction: column;
      &__title {
        font-size: $font-xl;
        margin-bottom: $spacing-md;
      }
      &__btncontainer {
        display: flex;
        justify-content: flex-start;
        &__edit {
          color: $dkbg;
        }
        &__delete {
          color: $primary;
        }
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__author {
        font-size: $font-lg;
        font-weight: 700;
      }
      &__date {
        font-size: $font-xs;
        font-style: italic;
        color: $light;
        background-color: $dark;
        padding: $spacing-xs $spacing-sm;
        border-radius: $pillRadius;
      }
    }
    &__text {
      font-size: $font-sm;
      font-weight: 500;
    }
  }
}