@import '../../sass/index';

.header {
  margin-top: calc(37vh - #{$headerHeight});
  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $RobotoMono;
    color: $primary;
    &__subtitleLg {
      position: absolute;
      top: 10%;
      font-size: $font-xxx;
      font-family: $Rubik;
    }
    &__subtitleSm {
      position: absolute;
      top: 23.5%;
      font-size: $font-md;
      color: rgb($dark, 0.5);
      font-family: $Rubik;
    }
  }
  &__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}